body{
  font-family:'Times New Roman', Times, serif;
  font-size: 1.1em; /*Text storlek*/
  margin: 0; /* Tarbort allt margin */
  padding: 0; /* Tarbort allt padding */
  background-color: rgb(213, 241, 226);
}

.wrapper{ /* klass som används för att definiera en grid layout med fyra kolumner */
  display:grid;
  grid-template-columns: 2fr auto auto auto;
  grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
}


header{ /* stylar header elementet */
  grid-area: header;
  text-align: center;
  background-color: orange;
}

main{
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
}

#index main{
  grid-template-columns: 1fr 1fr;
}

footer{
  grid-area: footer;
  text-align: center;
  background-color: orange;
  padding: 10px;
}

nav{ /* stylar nav elementet genom att centrera det och lägga till en padding */
  grid-area: nav;
  background-color: orange;
  padding: 10px;
}

nav>ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

nav li{ /* riktar sig till all listelement */
  list-style: none;
  text-align: center;
  font-size: 12px;
}

nav a{ /* stylar länkarna i nav elementet */
  text-decoration: none;
  background-color: black;
  padding: 15px;
  color: #FFFFFF;
  border-radius: 10px;
}

li a:hover { /* ändrar färgen när användaren hoverar */
  background-color: rgb(128, 128, 128);
}

p, h1, h2, h3, img, figcaption{
  text-align: center;
  margin: 15px;

}

img, iframe{
  display: block;
  margin-left: auto; /* Center */
  margin-right: auto; /* Center */
  margin-bottom: 15px;
  width: 750px;
  height: 500px;
}


table, td, th{
  margin: 15px;
  padding: 15px; 
  border: solid 3px #FFD700; 
  border-collapse: collapse; 
}

.custom-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adding a subtle box shadow */
}
